
@model PatientInfoViewModel

@{
    ViewData["Title"] = "Patient Info";
}
<h1>@ViewData["Title"]</h1>

<p>Patient Name: @Model.FullName</p>
<p>CellPhone: @Model.Cellphone</p>
<p>Email: @Model.Email</p>
<p>Address: @Model.Address</p>


